autopep8==1.4.3
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
idna==2.8
pycodestyle==2.5.0
pytest==4.3.0
requests==2.21.0
selenium==3.141.0
soupsieve==1.8
urllib3==1.24.1
webencodings==0.5.1
